<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        ">

	<context:component-scan
		base-package="com.dxc.controller" />

	<mvc:annotation-driven />

	<context:property-placeholder
		location="classpath:database/database.properties" />


	<!-- bind messages.properties -->
	<bean
		class="org.springframework.context.support.ResourceBundleMessageSource"
		id="messageSource">
		<property name="basename" value="messages/messages" />
	</bean>

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="initialSize" value="10" />
		<property name="maxActive" value="20" />
		<property name="removeAbandoned" value="true" />
	</bean>

	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="motorDao" class="com.dxc.dao.MotorDaoImpl" />
	<bean id="policyDao" class="com.dxc.dao.PolicyDaoImpl" />
	<bean id="clientDao" class="com.dxc.dao.ClientDaoImpl" />
	<bean id="policyService" class="com.dxc.service.PolicyServiceImpl" />
	<bean id="motorService" class="com.dxc.service.MotorServiceImpl" />
	<bean id="policyMapper" class="com.dxc.service.mapper.PolicyMapper" />
	<bean id="motorMapper" class="com.dxc.service.mapper.MotorMapper" />
	


</beans>